* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f4f4;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  left: 16px;
  top: 16px;
  width: auto;
  height: auto;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  z-index: 1000;
}

p {
  line-height: 180%;
  font-size: 16px;
}

.mb-20 {
  margin-bottom: 5rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style:
}

/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}

::after,
::before {
  --tw-content: ''
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  appearance: button;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

dialog {
  padding: 0
}

textarea {
  resize: vertical
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

[role=button],
button {
  cursor: pointer
}

:disabled {
  cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  /* vertical-align removed for block elements */
}

img,
video {
  max-width: 100%;
  height: auto
}

[hidden]:where(:not([hidden=until-found])) {
  display: none
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-12 {
  margin-bottom: 3rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-20 {
  margin-bottom: 5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-48 {
  height: 12rem
}

.h-8 {
  height: 2rem
}

.w-48 {
  width: 12rem
}

.w-8 {
  width: 2rem
}

.w-full {
  width: 100%
}

.max-w-3xl {
  max-width: 48rem
}

.max-w-lg {
  max-width: 32rem
}

.max-w-xl {
  max-width: 36rem
}

.flex-shrink-0 {
  flex-shrink: 0
}

.list-inside {
  list-style-position: inside
}

.list-disc {
  list-style-type: disc
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-8 {
  gap: 2rem
}

.space-x-4> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-6> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-4 {
  border-width: 4px
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.object-cover {
  object-fit: cover
}

.p-6 {
  padding: 1.5rem
}

.p-8 {
  padding: 2rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.leading-relaxed {
  line-height: 1.625
}

.leading-tight {
  line-height: 1.25
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-colors {
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1))
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

@media (min-width: 640px) {
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media (min-width: 768px) {
  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px
  }

  .md\:mb-0 {
    margin-bottom: 0px
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:justify-start {
    justify-content: flex-start
  }

  .md\:p-12 {
    padding: 3rem
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .md\:text-left {
    text-align: left
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}


.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.rounded-lg {
  border-radius: 0.5rem;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
  ;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  position: fixed;
  top: 30px;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 254, 254, 0.4) 100%);
  backdrop-filter: blur(10px);
  width: min(900px, calc(100% - 30px));
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  border-radius: 24px;
  box-shadow: 0 4px 50px -8px rgba(0, 0, 0, 0.2);
  z-index: 300;
}

nav .logo {
  font-weight: bold;
  font-size: 18px;
  color: #8300b6;
}

nav .nav-items {
  display: flex;
  gap: 50px;
}

.container {
  max-width: 900px;
  margin-inline: auto;
}

/* Header */

header {
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  background: linear-gradient(90deg, #c2cefe 0%, #f7a3fe 100%);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .left {
  max-width: 500px;
}

header .subtitle {
  font-size: 25px;
  line-height: 130%;
  margin: 0;
  background: linear-gradient(90deg, #230127 0%, #9e08fb 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h1 {
  font-size: 50px;
  line-height: 130%;
  margin: 0;
  background: linear-gradient(90deg, #230127 0%, #9e08fb 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

header .left p {
  background: linear-gradient(90deg, #080022 0%, #8300b6 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 200%;
}

.buttons {
  display: flex;
  gap: 24px;
}

.download-btn {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  width: 210px;
}

.download-btn .btn-icon img {
  height: 36px;
  display: flex;
}

.download-btn .btn-text div:first-child {
  text-transform: uppercase;
}

.download-btn .btn-text div:last-child {
  font-weight: bold;
}

header .right img {
  height: 460px;
  display: flex;
}

/* Featured Section */

section {
  padding: 50px 32px;
}

section h2 {
  color: #8300b6;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

#featured {
  background: #fff;
  box-shadow: 0 5px 55px -15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 30px;
  margin-top: -90px;
}

#featured .logos {
  display: flex;
  gap: 60px;
  justify-content: center;
}

/* Features */

#features .feature-card {
  background: linear-gradient(90deg, #ebfefe 0%, #eafef3 100%);
  border-radius: 20px;
  padding: 24px;
}

#features h3 {
  font-size: 18px;
}

#features .icon {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background: linear-gradient(90deg, #fee3e0 0%, #fee9e6 100%);
  display: grid;
  place-items: center;
}

#features .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

/* Testimonials Section */

#testimonials .content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

#testimonials .left {
  width: 360px;
}

#testimonials .right {
  flex: 1;
  position: relative;
}

#testimonials .left h2 {
  text-align: left;
  color: #000;
}

#testimonials .quote-icon {
  position: absolute;
  top: -20px;
  left: -50px;
  opacity: 0.3;
}

#testimonials .quote-icon img {
  height: 60px;
}

#testimonials .reviewer-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

#testimonials .reviewer-info img {
  height: 60px;
}

#testimonials .reviewer-info .name {
  font-weight: bold;
}

#testimonials .reviewer-info .designation {
  font-size: 14px;
}

#testimonials {
  position: relative;
}

.bg-element {
  position: absolute;
  height: 760px;
  left: -50px;
  right: -50px;
  bottom: 0;
  background: linear-gradient(90deg, #fdd7e8 0%, #fee5fa 100%);
  z-index: -1;
}

#testimonials .navigation-btns {
  position: absolute;
  right: 20px;
  bottom: 40px;
  display: flex;
  gap: 2px;
}

#testimonials .navigation-btns img {
  height: 26px;
}

#testimonials .prev-btn,
#testimonials .next-btn {
  background: #fff;
  display: flex;
  cursor: pointer;
  opacity: 0.7;
}

#testimonials .prev-btn:hover,
#testimonials .next-btn:hover {
  opacity: 1;
}

#testimonials .testimonial-card {
  opacity: 0;
  transition: all 300ms ease;
}

#testimonials .testimonial-card.active {
  opacity: 1;
}

/* Pricing Section */

#pricing .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#pricing .plan {
  background: #fff;
  border-radius: 10px;
  padding: 24px;
}

#pricing ul {
  list-style: none;
  padding: 0;
}

#pricing ul li {
  margin: 16px 0;
  line-height: 1.8;
}

#pricing .plan-name {
  font-size: 30px;
  margin: 0;
}

#pricing .plan-price {
  font-size: 20px;
  font-weight: bold;
}

#pricing .btn {
  background: #000;
  color: #fff;
  padding: 8px 32px;
  width: 100%;
  margin-top: 24px;
  display: inline-block;
  border-radius: 10px;
  transition: all 200ms ease;
}

#pricing .btn:hover {
  transform: scale(1.03);
}

#pricing ul li .icon {
  margin-right: 10px;
}

/* CTA */

#cta .content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 32px;
}

#cta .content p {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 32px;
}

/* Footer */

footer {
  background: linear-gradient(90deg, #0a1300 0%, #001e0f 100%);
  color: #fff;
  padding-top: 50px;
}

footer a {
  color: #fff;
}

footer .content {
  display: flex;
  justify-content: space-between;
}

footer .logo {
  font-size: 24px;
  font-weight: bold;
}

footer .left p {
  margin-top: 0;
}

footer .right {
  display: flex;
  gap: 40px;
}

footer h3 {
  margin-top: 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

footer ul li {
  margin: 8px 0;
}

footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

footer .socials {
  display: flex;
  gap: 40px;
}

footer .socials img {
  height: 40px;
}

/* Hidden Items  */

nav .menu-btn,
.mobile-nav-menu {
  display: none;
}

@media (max-width: 600px) {
  section {
    padding-inline: 0;
  }

  nav .nav-items {
    display: none;
  }

  body {
    background: #e3ffff;
  }

  nav {
    width: calc(100% - 30px);
  }

  nav .menu-btn {
    display: block;
    cursor: pointer;
  }

  nav .menu-btn img {
    height: 30px;
    display: flex;
  }

  header .container {
    flex-direction: column;
  }

  header {
    max-height: fit-content;
    height: fit-content;
    padding-top: 160px;
  }

  header .right img {
    height: 350px;
  }

  .container {
    padding: 0 32px;
  }

  h1 {
    font-size: 40px;
  }

  .buttons {
    flex-direction: column;
  }

  section h2 {
    position: relative;
    margin-bottom: 40px;
  }

  section h2::after {
    content: "";
    position: absolute;
    background: #000;
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Featured section */

  #featured {
    margin-top: 40px;
  }

  #featured .logos {
    flex-direction: column;
    gap: 40px;
  }

  #featured img {
    height: 30px;
  }

  /* Features section */

  #features .content {
    grid-template-columns: 1fr;
  }

  /* Testimonials */

  #testimonials .content {
    flex-direction: column;
  }

  #testimonials .content .left {
    width: 100%;
  }

  #testimonials .left h2::after {
    left: 0;
    transform: translateX(0);
  }

  #testimonials .left h2 {
    margin-bottom: 0;
  }

  #testimonials .right .quote-icon {
    left: -10px;
  }

  .bg-element {
    position: absolute;
    height: 1900px;
    left: -30px;
    right: -30px;
  }

  /* Pricing Section */

  #pricing .content {
    grid-template-columns: 1fr;
  }

  #pricing .plan {
    padding-inline: 0;
  }

  /* Footer */

  footer .content {
    flex-direction: column;
  }

  footer .right {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  footer .copyright {
    flex-direction: column;
  }

  /* Mobile nav menu */

  .mobile-nav-menu {
    position: fixed;
    right: 32px;
    top: 100px;
    background: #e3ffff;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 16px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 600;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 300ms ease;
  }

  .mobile-nav-menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

/* Section & container */
.section {
  padding-top: 60px;
}

.section .section-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #8300b6;
  margin-bottom: 50px;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 16px;
}

.skills-g {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}

@media (max-width: 600px) {
  .skills-g {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .skills-g {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.skill {
  background: #ffffff;
  /* gray-200 */
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #000000;
  /* gray-300 */
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skill h3 {
  margin: 0;
  font-size: 1.125rem;
  color: #1f2937;
}

.skill ul {
  margin-top: 8px;
  padding-left: 1rem;
  text-align: left;
}

.skill li {
  color: #6b7280;
  font-size: 0.95rem;
  list-style: disc;
}

/* Projects */
.proj .container {
  /* ensure gutters on mobile */
  padding-inline: 16px;
}

.proj-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .proj-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .proj-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  background: #ffffff;
  /* slate-200 */
  border-radius: 12px;
  border: 1px solid #000000;
  /* slate-300 */
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  display: block;
}

.card-body {
  padding: 24px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0 0 8px 0;
}

.card-desc {
  color: #6b7280;
  font-size: 0.95rem;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  background: #e5e7eb;
  color: #1f2937;
  padding: 4px 10px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 600;
}

.tag--dark {
  background: rgb(128, 138, 152);
  color: #fff;
}

.actions {
  display: flex;
  gap: 16px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.btn--pri {
  background: #2563eb;
  color: #fff;
}

.btn--pri:hover {
  background: #1d4ed8;
}

.btn--sec {
  background: #e5e7eb;
  color: #374151;
}

.btn--sec:hover {
  background: #d1d5db;
}